*{
    margin: 0;
    padding: 0;
}
#photo-gallery{
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}
#photo-gallery h1{
    font-family: var(--font2);
    text-align: center;
    font-size: 30px;
}
.gallery{
    /* filter: grayscale(100%); */
}
.p-1{
    display: flex;
    justify-content: center;
    margin: auto;

}
.p-1 img{
    width: 250px;
     padding-left: 30px;
    padding-top: 50px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
.p-1 img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
@media (max-width: 480px){
    .p-1{
        flex-direction: column;
        align-items: center;
    }
}